/* 
    1. font-size classes
    2. footer
    3. rest of the freaking pages
        - decide the layout for photos
        - decide layout for bloggs and social media
    4. animation on pictures and text?
    5. dot navigation gilm/photos?
    6. WRITE IN ALT FOR PICTRUES
    7. Im having cookie-issues
*/

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

nav {
  padding: 2vw;
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 3;
}

nav a {
  font-size: 1.1vw;
  padding: 1.5vw;
  color: black;
  cursor: pointer;
  position: relative;
}

/* the animated underline */

nav a.active::after {
  position: absolute;
  content: "";
  height: 0.16vw;
  width: 80%;
  left: 10%;
  bottom: 1vw;
  background-color: #ffe7fe;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  animation: appear 0.3s linear;
}

@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

#mobile-nav {
  display: none;
}

section {
  display: grid;
  grid-template-columns: repeat(50, 2vw);
  grid-template-rows: repeat(20, 2vw);
}

section img,
#photo-gallery img {
  width: 100%;
  height: 100%;
}

.border-title {
  position: relative;
}

/* creates the split border for title */
.border-title:before,
.border-title:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

.border-title:before {
  top: 0;
  left: 0;
  right: 60%;
  bottom: 50%;
  border-top: 0.2vw solid black;
  border-left: 0.2vw solid black;
}

.border-title:after {
  top: 55%;
  left: 60%;
  right: 0;
  bottom: 0;
  border-bottom: 0.2vw solid black;
  border-right: 0.2vw solid black;
}

.title-container {
  margin: 15vh 35% 0 35%;
  padding: 2.5vw 5vw 2.5vw 5vw;
  text-align: center;
   font-size: 1.2vw;
}

#fish-logo {
  position: fixed;
  bottom: 4vh;
  right: 3.5vw;
  width: 6vw;
  height: 3.5vw;
  z-index: 3;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 1vw 0 1vw 0;
  width: 100%;
}

/* Splas-page */

#splash-page {
  margin-top: 8vh;
}

#title-container h1 {
  font-size: 1.5vw;
}

#title-container {
  grid-column: 17/ 30;
  grid-row: 4/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-container h2 {
  font-style: italic;
  background-color: #ffe7fe;
  margin-top: 0.3vw;
  padding: 0.3vw 0.5vw 0.3vw 0.5vw;
}

#BWEmma {
  grid-column: 36 / 45;
  grid-row: 2 / 15;
  z-index: 2;
}

#amsterdam {
  grid-column: 26 /40;
  grid-row: 11 / 21;
  z-index: 1;
  box-shadow: 2vw 2vw 0 0 #ffe7fe;
}

#emmawcamera {
  grid-column: 14/28;
  grid-row: 12 /20;
  z-index: 2;
}

#emma1 {
  grid-column: 7 /16;
  grid-row: 9 / 21;
  box-shadow: 2vw 2vw 0 0 #ffe7fe;
}

#pink-shadow1 {
  grid-column: 37 / 46;
  grid-row: 3 / 16;
  z-index: 0;
}

#pink-box1 {
  grid-column: 33 / 36;
  grid-row: 5/ 12;
  z-index: 0;
}

#pink-shadow2 {
  grid-column: 16 / 26;
  grid-row: 19 / 21;
  z-index: 0;
}

/* about me */

#about-me {
  margin-top: 14vh;
}

#title-about {
  font-size: 1vw;
  grid-column: 11 / 21;
  grid-row: 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me-text {
  grid-column: 7 / 26;
  grid-row: 5 / 16;
  line-height: 1.5vw;
}

#about-me-text p {
  padding-top: 2vw;
  font-size: 1vw;
}

#buisness {
  font-size: 1vw;
  grid-column: 10 / 22;
  grid-row: 16 / 19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
  background-color: #ffe7fe;
}

#youtube-page {
  grid-column: 29 / 45;
  grid-row: 1 / 10;
  box-shadow: 2vw 2vw 0 0 #ffe7fe;
  z-index: 1;
}

#emma2 {
  grid-column: 38 / 46;
  grid-row: 6 / 17;
  box-shadow: 2vw 2vw 0 0 #ffe7fe;
  z-index: 2;
}

#wowkamera {
  grid-column: 32 /39;
  grid-row: 12 / 19;
  z-index: 2;
}

#pink-shadow3 {
  grid-column: 33 / 40;
  grid-row: 15 / 20;
}

/* ---------  FILM/PHOTOS ------------- */
/* kanske kan va en egen klass som återanvänds */

.film-title-container {
  margin: 15vh 35% 0 35%;
  text-align: center;
}

.film-page-title {
  padding: 2.5vw 5vw 2.5vw 5vw;
  font-size: 1.5vw;
}

.film-text-container {
  margin: 2vw 20% 0 20%;
  text-align: center;
  line-height: 1.5vw;
  background-color: #ffe7fe;
  padding: 1.5vw 2vw 1.5vw 2vw;
  color: black;
  font-size: 1.2vw;
  border-radius: 0.3vw;
}

#film-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.rows {
  padding: 2vw 2vw 0 2vw;
}

object {
  width: 25vw;
  height: 15vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

#film-container a {
  margin-top: 2vw;
 
  padding: 1vw;
  background-color: #ffe7fe;
  border-radius: 2vw;
  color: black;
}

#film-container a:hover {
  background-color: #f7d2f5;
}

#photo-gallery {
  margin-top: 3vw;
  display: grid;
  grid-template-columns: repeat(50, 2vw);
  grid-template-rows: repeat(65, 2vw);
}

.vertical-column-1 {
  grid-column: 3 / 12;
}

.horizontal-column-1 {
  grid-column: 14 / 25;
}

.vertical-column-2 {
  grid-column: 27 / 36;
}

.horizontal-column-2 {
  grid-column: 38 / 49;
}

.vertical-row-1 {
  grid-row: 1 / 15;
}

.horizontal-row-1 {
  grid-row: 4 / 12;
}

.vertical-column-3 {
  grid-column: 15 / 24;
}

.vertical-row-2 {
  grid-row: 15 / 29;
}

.vertical-column-4 {
  grid-column: 39 / 48;
}

.horizontal-column-3 {
  grid-column: 2 / 13;
}

.horizontal-column-4 {
  grid-column: 26 / 37;
}

.horizontal-row-2 {
  grid-row: 18 / 26;
}

.vertical-row-3 {
  grid-row: 29 / 43;
}

.horizontal-row-3 {
  grid-row: 32 / 40;
}

/* the three photos on the bottom */
.horizontal-column-5 {
  grid-column: 3 / 17;
}
.horizontal-column-6 {
  grid-column: 19 / 33;
}

.horizontal-column-7 {
  grid-column: 35 / 49;
}

.horizontal-row-4 {
  grid-row: 46 / 54;
}

.horizontal-row-5 {
  grid-row: 57 / 65;
}


/* --------- Blog --------- */

#blog-nav {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  background-color: #f7d2f5;
}

#blog-nav button {
  background-color: #f7d2f5;
  border: none;
  padding: 1.5vw;
  cursor: pointer;
}

#blog-posts-container {
  display: flex;
  flex-direction: column;
  padding: 0 25vw 0 25vw;
}

.blog-post {
  padding: 3vw;
  border-bottom: solid;
  border-color: #d4d2d2a8;
  border-width: 0.1vw;
}

.blog-post p {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.blog-post h2 {
  font-size: 1.5vw;
}

.blog-post a , .blog-post p{
  font-size: 1.2vw;
}

.date {
  color: gray;
}

#blog-nav button:hover {
  background-color: #dfa8dc;
}

#twentytwentyone {
  display: none;
}

/* social */

#social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw 10vw 0 10vw;
}

#social-container {
  display: flex;
  flex-direction: column;
  padding: 5vw;
}

#social-container p , #social-container a {
  padding: 0.5vw;
  font-size: 1vw;
}

#social-img {
  display: grid;
  grid-template-columns: repeat(20, 2vw);
  grid-template-rows: repeat(18, 2vw);
}

#social-img img{
  width: 100%;
  height: 100%;
}

#socials {
  grid-column: 10 / 18;
  grid-row: 2 / 13;
  box-shadow: 2vw 2vw 0 0 #ffe7fe;
  z-index: 0;
}

#socials3 {
  grid-column: 2 / 13;
  grid-row: 9 / 16;
  z-index: 1;
}

#socials-pink {
  grid-column: 3 / 14;
  grid-row: 10 / 17;
}
/* Mobile */

@media (max-width: 500px) {
  nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 3vw;
  }

  #fish-logo-mobile {
    width: 20vw;
  }

  .open-btn {
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
  }

  .sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background: #f7d2f5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6vw;
  }

  .sidepanel a {
    padding: 1rem 0 1rem 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sidepanel .closebtn {
    position: absolute;
    top: 1vw;
    right: 3vw;
    font-size: 2rem;
    margin-left: 50px;
  }

  #fish-logo {
    display: none;
  }

  .title-container {
    margin: 2vh 25% 0 25%;
    padding: 5vw 10vw 5vw 10vw;
    font-size: 2.5vw;
  }

  section {
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(40, 5vw);
  }
  /* splash page */

  #splash-page {
    margin-top: 0vw;
  }

  #title-container {
    grid-column: 6 / 16;
    grid-row: 2 / 6;
  }

  #BWEmma {
    grid-column: 9 / 18;
    grid-row: 7 / 20;
    z-index: 2;
  }

  #pink-shadow1 {
    grid-column: 10 / 19;
    grid-row: 8 / 21;
    z-index: 0;
  }

  #emmawcamera {
    grid-column: 3 / 15;
    grid-row: 19 / 26;
    z-index: 1;
  }

  #emma1 {
    grid-column: 4 / 11;
    grid-row: 25 / 34;
    box-shadow: none;
    z-index: 2;
  }

  #amsterdam {
    grid-column: 9 /19;
    grid-row: 29 / 37;
    z-index: 1;
    box-shadow: 5vw 5vw 0 0 #ffe7fe;
  }

  #pink-box1 {
    grid-column: 4 / 16;
    grid-row: 21 / 27;
    z-index: 0;
  }

  #pink-shadow2 {
    grid-column: 5 / 12;
    grid-row: 27 / 35;
    z-index: 0;
  }

  /* About me */

  #about-me {
    margin-top: 0vh;
  }
  #title-about {
    grid-column: 6 / 16;
    grid-row: 2 / 5;
  }
  #about-me-text {
    grid-column: 4 / 18;
    grid-row: 6 / 25;
    line-height: 5vw;
  }

  #about-me-text p {
    padding-top: 4vw;
    font-size: 4.5vw;
  }

  #buisness {
    grid-column: 6 / 16;
    grid-row: 25 / 28;
    padding: 2vw;
  }
  #buisness p {
    font-size: 3vw;
  }

  #youtube-page {
    grid-column: 4 / 18;
    grid-row: 30 / 37;
    box-shadow: 5vw 5vw 0 0 #ffe7fe;
    z-index: 1;
  }

  #emma2 {
    display: none;
  }

  #wowkamera {
    grid-column: 7 / 12;
    grid-row: 35 / 40;
    z-index: 3;
  }

  #pink-shadow3 {
    grid-column: 8 / 13;
    grid-row: 37 / 41;
  }

  /* Film/photos */

  .film-page-title {
    font-size: 2.5vw;
  }

  .film-title-container {
    margin: 1vh 30% 0 30%;
  }

  .film-text-container {
    line-height: 3.5vw;
    font-size: 2.5vw;
  }

  #film-container a {
    font-size: 2.5vw;
  }

  /* Blog */

  #blog-title {
    margin: 5vw 20% 5vw 20%;
  }

  #blog-posts-container {
    padding: 2vw 10vw 0 10vw;
  }
.blog-post h2 {
  font-size: 5vw;
}
  .blog-post p , .blog-post a{
    font-size: 3vw;
  }

}

/* tablet */
@media (max-width: 900px) {
  #title-container h1,
  #title-about h1 {
    font-size: 1.2rem;
  }

  #title-container h2 {
    font-size: 1rem;
  }

  .title-container {
    margin: 10vh 30% 0 30%;
    padding: 2.5vw 5vw 2.5vw 5vw;
     font-size: 1.5vw;
  }
  

}
